body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

body:hover {
    background-color: #d0d0d0;
}

body.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}